<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Striped Progress bar</h4>
        <!-- !PROGRESS BAR -->
        <div class="progress m-t-20">
          <div
            class="progress-bar bg-primary progress-bar-striped active"
            style="height: 10px"
            [style.width]="getProgress1"
            role="progressbar"
          ></div>
        </div>
        <!-- !PROGRESS BAR -->
        <div class="progress m-t-20">
          <div
            class="progress-bar bg-info progress-bar-striped active"
            style="height: 10px"
            [style.width]="getProgress2"
            role="progressbar"
          ></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-increaser
          (outputValue)="progress1 = $event"
          [progressValue]="progress1"
        ></app-increaser>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-increaser
          [btnClass]="'btn btn-info'"
          (outputValue)="progress2 = $event"
          [progressValue]="progress2"
        ></app-increaser>
      </div>
    </div>
  </div>
</div>
